services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order-api-backend
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      # Docker içindeki backend, senin local PostgreSQL'ine bağlanacaksa:
      # host.docker.internal kullanıyoruz.
      - DATABASE_URL=postgresql+psycopg2://postgres:183729@host.docker.internal:5432/ordersdb
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: order-api-frontend
    ports:
      - "3000:8080"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
